/* Center in middle of screen */
.center {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: greenyellow;
}  
.center-head {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -60%);
}
body {
    background-color: rgb(49, 46, 46);
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}